<!DOCTYPE html>
<html lang="en" ng-app="book">
<head>
	<meta charset="utf-8">
	<title>电影院后台管理系统</title>
	<link rel="icon" type="image/x-icon" href="img/index_favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/book.css">
	<script src="js/jquery/jquery-3.3.1.js"></script>
	<!-- <script src="js/bootstrap/popper.js"></script> -->
	<script src="js/bootstrap/bootstrap.js"></script>
	<script src="js/angular/angular.js"></script>
	<!-- <script src="js/route.js"></script> -->
	<script src="js/book.js"></script>
</head>
<body ng-controller="bookController">
	<!-- 页面顶部导航栏 -->
	<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
		<!-- 旧bootstrap导航栏
		<a class="navbar-brand text-white font-weight-bold" href="#">后台管理系统</a>
		<a class="nav-link text-white font-weight-bold" href="#">订单管理</a>
		<a class="nav-link text-white font-weight-bold" href="#">场次管理</a>
		<a class="nav-link text-white font-weight-bold" href="#">影厅管理</a>
		<a class="nav-link text-white font-weight-bold" href="#">电影管理</a>
		<a class="nav-link text-white font-weight-bold ml-auto" href="#">用户</a>
		<button class="btn btn-danger font-weight-bold">退出</button> -->

		<!-- 新angularJS导航栏 -->
		<!-- 管理系统主页 -->
		<a class="navbar-brand text-white font-weight-bold" href="{{navbar_brand.url}}">{{navbar_brand.name}}</a>
		<!-- 各个管理页面 -->
		<div ng-repeat="link in navbar_links">
			<a class="nav-link text-white font-weight-bold" href="{{link.url}}">{{link.name}}</a>
		</div>
		<!-- 管理员头像 -->
		<a class="nav-link text-white font-weight-bold ml-auto" href="{{navbar_user.url}}">{{navbar_user.name}}</a>
		<!-- 退出按钮 -->
		<button class="btn btn-danger font-weight-bold" ng-click="exit()">退出</button>
	</nav>

	<!-- 标题以及搜索框 -->
	<div class="divStyle">
		<h2 class="h2Style">预定管理</h2>
		<input class="inputStyle" type="text" ng-model="search" placeholder="Search">
		<!-- 模态框 -->
		<div class="modal fade" id="myModal" ng-model="obj">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- 模态框头部 -->
					<div class="modal-header">
						<!-- 模态框标题 -->
						<h4 class="modal-title">新增影厅</h4>
						<!-- 右上角关闭按钮 -->
						<button type="button" class="close" ng-click="close()">&times;</button>
					</div>
					<!-- 模态框主体 -->
					<div class="modal-body">
						<!-- 座位图表 -->
						<div class="form-group">
							<label class="form-inline">影厅座位表：</label>
							<table>
								<tr ng-repeat="seat_row in obj.seats">
									<td ng-repeat="seat in seat_row track by $index">
										<!-- <img src="img/{{seat.disable}}.png" ng-if="seat.disable==0" ng-click="changeDisable(seat.row, seat.col, 'seat_disable')"> -->
										<img class="imgStyle" src="img/seat_unable.png" ng-if="seat.disable==2">
										<img class="imgStyle" src="img/seat_able.png" ng-if="seat.disable==0" ng-click="changeDisable(seat.row, seat.col, 1)">
										<img class="imgStyle" src="img/seat_disable.png" ng-if="seat.disable==1" ng-click="changeDisable(seat.row, seat.col, 0)">
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!-- 模态框底部 -->
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="save()">保存</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 表格 -->
	<div class="tableStyle">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th ng-repeat="item in table_columns">{{item}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="data in table_rows | filter:search">
					<td>{{data.scene_no}}</td>
					<td>{{data.movie_name}}</td>
					<td>{{data.movie_time}}</td>
					<td>{{data.scene_name}}</td>
					<td>
						<button class="btn btn-primary" ng-click="edit(data, $index)">编辑</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>